/* fonts */
@ubuntu: 'Ubuntu', sans-serif;

/* colors */
@grey: #818285;
@light-grey: #c2c2c2;
@red: #EC2227;
@dark-red: #4B1314;
@white: #fff;
@black: #000;

.red {
    color: @red;
}

.grey {
    color: @grey;
}

.white {
    color: @white;
}

body {
    font-family: @ubuntu;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.red-grey-hover {
    .menu__link {
        color: @grey;
    }

    .menu__link:hover {
        color: @red;
    }
}

.red-white-hover {
    .menu__link {
        color: @white;
    }

    .menu__link:hover {
        color: @red;
    }
}

.white-grey-hover {
    .menu__link {
        color: @grey;
    }

    .menu__link:hover {
        color: @white;
    }
}


.main-page {
    position: relative;
}

.menu {
    &__list {
        display: flex;
        padding: 0;
    }

    &__item {
        list-style: none;
    }

    &__item:not(:nth-child(1)) {
        padding-left: 20px;
    }

    &__link {
        text-decoration: none;
    }

    &__burger {
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        z-index: 11;
    }

    &-popup {
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, @white 0%, @light-grey 100%);
        z-index: 10;
        transition: 0.5s;
        transform: translateX(100%);
    }

    &-popup--active {
        transform: translateX(0%);
    }

    &-popup__list {
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        text-align: center;
    }

    &-popup__item {
        padding-bottom: 20px;
        list-style: none;
        font-size: 20px;
    }

    &-popup__link {
        color: @grey;
    }

    &-popup__link:hover {
        text-decoration: none;
        color: @red;
    }

    &__burger span,
    &__burger span::before,
    &__burger span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        margin-top: -1px;
        margin-left: -10px;
        background-color: #222;
    }

    &__burger span::before,
    &__burger span::after {
        content: '';
        display: block;
        transition: 0.2s;
    }

    &__burger span::before {
        transform: translateY(-5px);
    }

    &__burger span::after {
        transform: translateY(5px);
    }

    &__burger--active span {
        height: 0;
    }

    &__burger--active span:before {
        transform: rotate(45deg);
    }

    &__burger--active span:after {
        transform: rotate(-45deg);
    }
}

.main-page {
    background: linear-gradient(to bottom right, @white 0%, @light-grey 100%);

    .container {
        padding-left: 40px;
    }

    .main-title h1 {
        font-size: 150px;
        font-weight: bold;
    }

    .hide-block {
        display: none;
    }

    .main-pic {

        img {
            width: 100%;
            height: auto;
            filter: drop-shadow(4rem 4rem 3rem rgba(0, 0, 0, 0.2));
        }
    }

    .menu__link:hover {
        text-decoration: none;
    }

    @media (max-height: 725px) {

        .sides {
            justify-content: center;
        }

        .main-title h1 {
            font-size: 6vw;
        }

        .main-pic img {
            height: auto;
            max-width: 60%;
        }
    }

    @media (max-width: 1024px) {
        .main-title h1 {
            font-size: 12vw;
        }
    }

    @media (max-width: 868px) {
        .navigation {
            display: flex;
            justify-content: space-around;
            padding-bottom: 30px;
            align-content: center;
        }

        .logo {
            margin: auto 0;
        }

        .logo img {
            width: 60%;
        }

        .left-side {
            width: 100%;
        }

        .show-block {
            display: none;
        }

        .hide-block {
            display: block;
        }

        .main-content {
            text-align: center;
        }

        .main-title {
            margin: 0 auto;
        }

        .main-title h1 {
            padding-top: 30px;
            font-size: 12vw;
        }

        .main-pic img {
            max-height: 515px;
            max-width: 60%;
        }
    }

    @media (max-width: 425px) {
        .main-pic img {
            max-height: 415px;
            max-width: 60%;
        }

        .main-title h1 {
            margin-right: auto;
        }
    }

    @media (max-width: 320px) {
        .main-title h1 {
            font-size: 50px;
        }

        .main-pic img {
            width: 60%;
            height: auto;
        }

        .main-content {
            margin: 0 auto;
        }
    }

    @media (max-height: 425px) {
        .logo {
            margin: auto 0;
        }

        .logo img {
            width: 118px;
        }

        .sides {
            justify-content: center;
        }

        .main-content {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            align-items: center;
        }

        .main-title h1 {
            font-size: 50px;
        }

        .main-pic {
            margin-left: auto;
            max-width: 40%;
        }

        .main-pic img {
            max-height: 215px;
            width: 40%;
        }
    }
}

.about_us-page,
.contacts-page {
    .container {
        padding: 0 10px;
    }

    .title h2 {
        margin: 0;
        padding-bottom: 25px;
        font-size: 6vw;
        font-weight: bold;
        color: @white;
        text-transform: uppercase;
    }

    p {
        margin: 0;
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
        color: @white;
    }

    .sides {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .menu__link:hover {
        text-decoration: none;
    }

    .hide-block {
        display: none;
    }

    .main-pic--white {
        padding-top: 50px;
    }

    @media (max-width: 1024px) {
        p {
            font-size: 5vw;
            line-height: 110%;
        }

        .sides {
            padding: 30px;
        }

        ul {
            display: flex;
            flex-direction: row;
        }
    }

    @media (max-width: 820px) {
        .hide-block {
            display: block;
        }

        .show-block {
            display: none;
        }
    }
}

.about_us-page {
    background: linear-gradient(to bottom right, @red 0%, @dark-red 100%);

    p {
        padding-bottom: 30px;
    }

    .left-side {
        width: 60%;
    }

    .is-active {
        color: @white;
    }

    @media (max-width: 1024px) {

        .main-pic--white {
            padding-top: 0px;
        }
    }

    @media (max-width: 820px) {
        .container {
            height: 100%;
        }

        .left-side {
            width: 100%;
        }

        .main-pic--white {
            padding-top: 0px;
            margin-left: -60px;
        }
    }

    @media (max-width: 550px) {
        .title h2 {
            font-size: 36px;
        }

        p {
            font-size: 25px;
        }

        .content p:nth-child(2) {
            padding-bottom: 15px;
        }
    }
}

.services-page {
    background-image: url(../img/main-bg.png), linear-gradient(to bottom right, @grey 0%, @black 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, right;
    background-size: 100%, cover;
    position: relative;

    .sides {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3.7%;

        @media (min-width: 1024px) {
            padding-bottom: 37px;
        }
    }

    .logo--white {
        padding-right: 1.5%;
    }

    .page-number__list {
        display: flex;
        padding: 0;
        list-style: none;
    }

    .page-number__item {
        font-size: 11vw;
        font-weight: bold;
        line-height: 100%;
        color: @white;
        opacity: 0.2;

        @media (min-width: 1440px) {
            font-size: 150px;
        }
    }

    .page-number__list li:not(:nth-child(1)) {
        padding-left: 20px;
    }

    .logo--white {
        margin-top: 2.5%;
    }

    .middle {
        min-height: 50%;
    }

    .middle h2 {
        padding-bottom: 3.7%;
        font-size: 5.6vw;
        line-height: 115%;
        font-weight: bold;
        text-transform: uppercase;
        color: @white;

        @media (min-width: 1440px) {
            font-size: 80px;
        }

        @media (min-width: 1024px) {
            padding-bottom: 37px;
        }
    }

    .middle p {
        max-width: 939px;
        margin: 0;
        padding-left: 1%;
        padding-bottom: 3.7%;
        font-size: 2.8vw;
        font-weight: bold;
        line-height: 115%;
        color: @white;

        @media (min-width: 1440px) {
            font-size: 40px;
        }

        @media (min-width: 1024px) {
            padding-bottom: 37px;
        }
    }

    .middle h3,
    .middle ul {
        margin-bottom: 0;
        padding: 0;
        padding-left: 1%;
        font-size: 2vw;
        line-height: 113%;
        color: @white;

        @media (min-width: 1440px) {
            font-size: 30px;
        }
    }

    .middle ul span {
        margin-left: -5px;
    }

    .middle ul {
        padding-left: 32px;
    }

    .bottom {
        position: relative;
    }

    .menu__list {
        position: absolute;
        bottom: 0;
        right: 0;
        padding-right: 1.5%;
    }

    .page-number__item,
    .menu__link:hover {
        text-decoration: none;
    }

    .page-number__list a:hover,
    a.active {
        opacity: 1;
    }

    .is-active {
        color: @red;
    }

    .hide-block {
        display: none;
    }

    @media (max-width: 820px) {
        .show-block {
            display: none;
        }

        .hide-block {
            display: block;
        }

        .slides {
            padding: 15px;
        }

        .fp-tableCell {
            display: block;
        }

        .title h2 {
            margin: 0;
            font-size: 8vw;
            font-weight: bold;
            text-transform: uppercase;
            color: @white;
        }

        .page-number__item {
            font-size: 8vw;
        }

        .middle h2 {
            font-size: 8vw;
            text-transform: none;
        }

        .middle p {
            font-size: 4vw;
        }

        .middle h3,
        .middle ul {
            font-size: 3vw;
        }
    }

    @media (max-width: 620px) {

        .title h2 {
            font-size: 36px;
            line-height: 100%;

        }

        .page-number {
            padding-left: 5px;
        }

        .page-number__list {
            margin-bottom: 0;
            padding-right: 12px;
        }

        .page-number__item {
            font-size: 36px;
            line-height: 100%;
        }

        .page-number__list li:not(:nth-child(1)) {
            padding-left: 10px;
        }

        .container {
            padding-bottom: 100px;
        }

        .middle h2 {
            font-size: 36px;
        }

        .middle p {
            padding-bottom: 25px;
            padding-left: 0;
            font-size: 25px;
        }

        .middle ul,
        .middle h3 {
            padding-left: 0;
            font-size: 16px;
        }

        .middle h3 {
            padding-bottom: 13px;
        }

        .main-content ul li {
            margin-left: 18px;
        }
    }

    @media (max-height: 730px) {
        .middle {
            padding-bottom: 30px;
        }
    }

    @media (max-height: 414px) {
        .top {
            padding-bottom: 0;
        }

        .title h2 {
            font-size: 40px;
        }

        .page-number__item {
            font-size: 40px;
        }

        .middle h2 {
            font-size: 40px;
            padding-bottom: 0;
        }

        .logo--white {
            margin-top: 0;
        }
    }
}

.contacts-page {
    background: linear-gradient(to bottom right, @grey 0%, @black 100%);

    .left-side {
        flex-grow: 1;
    }

    .right-side {
        flex-grow: 3;
    }

    .main-content {
        align-self: flex-start;
    }

    .is-active {
        color: @red;
    }

    .main-pic.hide-block {
        height: 100%;
        margin-left: -30px;
        background-image: url('../img/main-pic.png');
        background-repeat: no-repeat;
        background-size: 120%;
    }

    @media (max-width: 820px) {

        .container {
            height: 100%;
        }

        .sides {
            height: 100%;
            padding-bottom: 0;

        }

        .right-side {
            width: 100%;
        }

        .main-content {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }

    @media (max-width: 580px) {
        .title h2 {
            font-size: 36px;
        }

        p {
            font-size: 25px;
        }
    }
}

.sides {
    display: flex;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a.menu__link {
    transition: 0.5s color;
}

a.page-number__item {
    transition: 0.5s opacity;
}