/* fonts */
/* colors */
.red {
  color: #EC2227;
}
.grey {
  color: #818285;
}
.white {
  color: #fff;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.red-grey-hover .menu__link {
  color: #818285;
}
.red-grey-hover .menu__link:hover {
  color: #EC2227;
}
.red-white-hover .menu__link {
  color: #fff;
}
.red-white-hover .menu__link:hover {
  color: #EC2227;
}
.white-grey-hover .menu__link {
  color: #818285;
}
.white-grey-hover .menu__link:hover {
  color: #fff;
}
.main-page {
  position: relative;
}
.menu__list {
  display: flex;
  padding: 0;
}
.menu__item {
  list-style: none;
}
.menu__item:not(:nth-child(1)) {
  padding-left: 20px;
}
.menu__link {
  text-decoration: none;
}
.menu__burger {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  z-index: 11;
}
.menu-popup {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #fff 0%, #c2c2c2 100%);
  z-index: 10;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu-popup--active {
  transform: translateX(0%);
}
.menu-popup__list {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;
}
.menu-popup__item {
  padding-bottom: 20px;
  list-style: none;
  font-size: 20px;
}
.menu-popup__link {
  color: #818285;
}
.menu-popup__link:hover {
  text-decoration: none;
  color: #EC2227;
}
.menu__burger span,
.menu__burger span::before,
.menu__burger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  margin-top: -1px;
  margin-left: -10px;
  background-color: #222;
}
.menu__burger span::before,
.menu__burger span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu__burger span::before {
  transform: translateY(-5px);
}
.menu__burger span::after {
  transform: translateY(5px);
}
.menu__burger--active span {
  height: 0;
}
.menu__burger--active span:before {
  transform: rotate(45deg);
}
.menu__burger--active span:after {
  transform: rotate(-45deg);
}
.main-page {
  background: linear-gradient(to bottom right, #fff 0%, #c2c2c2 100%);
}
.main-page .container {
  padding-left: 40px;
}
.main-page .main-title h1 {
  font-size: 150px;
  font-weight: bold;
}
.main-page .hide-block {
  display: none;
}
.main-page .main-pic img {
  width: 100%;
  height: auto;
  filter: drop-shadow(4rem 4rem 3rem rgba(0, 0, 0, 0.2));
}
.main-page .menu__link:hover {
  text-decoration: none;
}
@media (max-height: 725px) {
  .main-page .sides {
    justify-content: center;
  }
  .main-page .main-title h1 {
    font-size: 6vw;
  }
  .main-page .main-pic img {
    height: auto;
    max-width: 60%;
  }
}
@media (max-width: 1024px) {
  .main-page .main-title h1 {
    font-size: 12vw;
  }
}
@media (max-width: 868px) {
  .main-page .navigation {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    align-content: center;
  }
  .main-page .logo {
    margin: auto 0;
  }
  .main-page .logo img {
    width: 60%;
  }
  .main-page .left-side {
    width: 100%;
  }
  .main-page .show-block {
    display: none;
  }
  .main-page .hide-block {
    display: block;
  }
  .main-page .main-content {
    text-align: center;
  }
  .main-page .main-title {
    margin: 0 auto;
  }
  .main-page .main-title h1 {
    padding-top: 30px;
    font-size: 12vw;
  }
  .main-page .main-pic img {
    max-height: 515px;
    max-width: 60%;
  }
}
@media (max-width: 425px) {
  .main-page .main-pic img {
    max-height: 415px;
    max-width: 60%;
  }
  .main-page .main-title h1 {
    margin-right: auto;
  }
}
@media (max-width: 320px) {
  .main-page .main-title h1 {
    font-size: 50px;
  }
  .main-page .main-pic img {
    width: 60%;
    height: auto;
  }
  .main-page .main-content {
    margin: 0 auto;
  }
}
@media (max-height: 425px) {
  .main-page .logo {
    margin: auto 0;
  }
  .main-page .logo img {
    width: 118px;
  }
  .main-page .sides {
    justify-content: center;
  }
  .main-page .main-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .main-page .main-title h1 {
    font-size: 50px;
  }
  .main-page .main-pic {
    margin-left: auto;
    max-width: 40%;
  }
  .main-page .main-pic img {
    max-height: 215px;
    width: 40%;
  }
}
.about_us-page .container,
.contacts-page .container {
  padding: 0 10px;
}
.about_us-page .title h2,
.contacts-page .title h2 {
  margin: 0;
  padding-bottom: 25px;
  font-size: 6vw;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.about_us-page p,
.contacts-page p {
  margin: 0;
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
}
.about_us-page .sides,
.contacts-page .sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about_us-page .right-side,
.contacts-page .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.about_us-page .menu__link:hover,
.contacts-page .menu__link:hover {
  text-decoration: none;
}
.about_us-page .hide-block,
.contacts-page .hide-block {
  display: none;
}
.about_us-page .main-pic--white,
.contacts-page .main-pic--white {
  padding-top: 50px;
}
@media (max-width: 1024px) {
  .about_us-page p,
  .contacts-page p {
    font-size: 5vw;
    line-height: 110%;
  }
  .about_us-page .sides,
  .contacts-page .sides {
    padding: 30px;
  }
  .about_us-page ul,
  .contacts-page ul {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 820px) {
  .about_us-page .hide-block,
  .contacts-page .hide-block {
    display: block;
  }
  .about_us-page .show-block,
  .contacts-page .show-block {
    display: none;
  }
}
.about_us-page {
  background: linear-gradient(to bottom right, #EC2227 0%, #4B1314 100%);
}
.about_us-page p {
  padding-bottom: 30px;
}
.about_us-page .left-side {
  width: 60%;
}
.about_us-page .is-active {
  color: #fff;
}
@media (max-width: 1024px) {
  .about_us-page .main-pic--white {
    padding-top: 0px;
  }
}
@media (max-width: 820px) {
  .about_us-page .container {
    height: 100%;
  }
  .about_us-page .left-side {
    width: 100%;
  }
  .about_us-page .main-pic--white {
    padding-top: 0px;
    margin-left: -60px;
  }
}
@media (max-width: 550px) {
  .about_us-page .title h2 {
    font-size: 36px;
  }
  .about_us-page p {
    font-size: 25px;
  }
  .about_us-page .content p:nth-child(2) {
    padding-bottom: 15px;
  }
}
.services-page {
  background-image: url(../img/main-bg.png), linear-gradient(to bottom right, #818285 0%, #000 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, right;
  background-size: 100%, cover;
  position: relative;
}
.services-page .sides {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.services-page .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.7%;
}
@media (min-width: 1024px) {
  .services-page .top {
    padding-bottom: 37px;
  }
}
.services-page .logo--white {
  padding-right: 1.5%;
}
.services-page .page-number__list {
  display: flex;
  padding: 0;
  list-style: none;
}
.services-page .page-number__item {
  font-size: 11vw;
  font-weight: bold;
  line-height: 100%;
  color: #fff;
  opacity: 0.2;
}
@media (min-width: 1440px) {
  .services-page .page-number__item {
    font-size: 150px;
  }
}
.services-page .page-number__list li:not(:nth-child(1)) {
  padding-left: 20px;
}
.services-page .logo--white {
  margin-top: 2.5%;
}
.services-page .middle {
  min-height: 50%;
}
.services-page .middle h2 {
  padding-bottom: 3.7%;
  font-size: 5.6vw;
  line-height: 115%;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 1440px) {
  .services-page .middle h2 {
    font-size: 80px;
  }
}
@media (min-width: 1024px) {
  .services-page .middle h2 {
    padding-bottom: 37px;
  }
}
.services-page .middle p {
  max-width: 939px;
  margin: 0;
  padding-left: 1%;
  padding-bottom: 3.7%;
  font-size: 2.8vw;
  font-weight: bold;
  line-height: 115%;
  color: #fff;
}
@media (min-width: 1440px) {
  .services-page .middle p {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .services-page .middle p {
    padding-bottom: 37px;
  }
}
.services-page .middle h3,
.services-page .middle ul {
  margin-bottom: 0;
  padding: 0;
  padding-left: 1%;
  font-size: 2vw;
  line-height: 113%;
  color: #fff;
}
@media (min-width: 1440px) {
  .services-page .middle h3,
  .services-page .middle ul {
    font-size: 30px;
  }
}
.services-page .middle ul span {
  margin-left: -5px;
}
.services-page .middle ul {
  padding-left: 32px;
}
.services-page .bottom {
  position: relative;
}
.services-page .menu__list {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1.5%;
}
.services-page .page-number__item,
.services-page .menu__link:hover {
  text-decoration: none;
}
.services-page .page-number__list a:hover,
.services-page a.active {
  opacity: 1;
}
.services-page .is-active {
  color: #EC2227;
}
.services-page .hide-block {
  display: none;
}
@media (max-width: 820px) {
  .services-page .show-block {
    display: none;
  }
  .services-page .hide-block {
    display: block;
  }
  .services-page .slides {
    padding: 15px;
  }
  .services-page .fp-tableCell {
    display: block;
  }
  .services-page .title h2 {
    margin: 0;
    font-size: 8vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  .services-page .page-number__item {
    font-size: 8vw;
  }
  .services-page .middle h2 {
    font-size: 8vw;
    text-transform: none;
  }
  .services-page .middle p {
    font-size: 4vw;
  }
  .services-page .middle h3,
  .services-page .middle ul {
    font-size: 3vw;
  }
}
@media (max-width: 620px) {
  .services-page .title h2 {
    font-size: 36px;
    line-height: 100%;
  }
  .services-page .page-number {
    padding-left: 5px;
  }
  .services-page .page-number__list {
    margin-bottom: 0;
    padding-right: 12px;
  }
  .services-page .page-number__item {
    font-size: 36px;
    line-height: 100%;
  }
  .services-page .page-number__list li:not(:nth-child(1)) {
    padding-left: 10px;
  }
  .services-page .container {
    padding-bottom: 100px;
  }
  .services-page .middle h2 {
    font-size: 36px;
  }
  .services-page .middle p {
    padding-bottom: 25px;
    padding-left: 0;
    font-size: 25px;
  }
  .services-page .middle ul,
  .services-page .middle h3 {
    padding-left: 0;
    font-size: 16px;
  }
  .services-page .middle h3 {
    padding-bottom: 13px;
  }
  .services-page .main-content ul li {
    margin-left: 18px;
  }
}
@media (max-height: 730px) {
  .services-page .middle {
    padding-bottom: 30px;
  }
}
@media (max-height: 414px) {
  .services-page .top {
    padding-bottom: 0;
  }
  .services-page .title h2 {
    font-size: 40px;
  }
  .services-page .page-number__item {
    font-size: 40px;
  }
  .services-page .middle h2 {
    font-size: 40px;
    padding-bottom: 0;
  }
  .services-page .logo--white {
    margin-top: 0;
  }
}
.contacts-page {
  background: linear-gradient(to bottom right, #818285 0%, #000 100%);
}
.contacts-page .left-side {
  flex-grow: 1;
}
.contacts-page .right-side {
  flex-grow: 3;
}
.contacts-page .main-content {
  align-self: flex-start;
}
.contacts-page .is-active {
  color: #EC2227;
}
.contacts-page .main-pic.hide-block {
  height: 100%;
  margin-left: -30px;
  background-image: url('../img/main-pic.png');
  background-repeat: no-repeat;
  background-size: 120%;
}
@media (max-width: 820px) {
  .contacts-page .container {
    height: 100%;
  }
  .contacts-page .sides {
    height: 100%;
    padding-bottom: 0;
  }
  .contacts-page .right-side {
    width: 100%;
  }
  .contacts-page .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media (max-width: 580px) {
  .contacts-page .title h2 {
    font-size: 36px;
  }
  .contacts-page p {
    font-size: 25px;
  }
}
.sides {
  display: flex;
}
.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
a.menu__link {
  transition: 0.5s color;
}
a.page-number__item {
  transition: 0.5s opacity;
}
